<div id="background-video">
    <video autoplay muted loop>
        <source src="img/ARL_STRONG_hero_2.mp4" type="video/mp4">
    </video>
    <div id="shadow"></div>
</div>
<div class="main-content">
    <h1>ARL STRONG - UMass Lowell</h1>
    <div class="buttonsCollection">
        <a onclick="scrollDown()">Read Instructions</a>
    </div>
</div>
<div id="popup-modal">
    <div id="popup-modal-container">
        <div id="consent-form">
            <object data="src\20-077-JER-EXM consent final  6-8-2020.pdf" type="application/pdf" id="pdf"></object>
        </div>
        <div id="userInputButtons">
            <button onclick="agree()">Agree</button>
            <button onclick="decline()">Decline</button>
        </div>
    </div>
</div>
<div id="instructions">
    <h2>Instructions</h2>
    <div class="content-block">
        <p>
            Your goal is to explore a set of rooms and find as many victims and hazards as possible. You will 
            have help from two autonomous agents. You do not need to do anything when you find a victim or a 
            hazard, the system will record your exploration as you move.
        </p>
    </div>
    <div class="content-block">
        <p>
            The blue colored square represents a human on the map. 
            The light blue colored area shaded around the human is the area of the map 
            visible to (human's field of view)/explored by the human.
        </p>
        <img src='img/blue.png'>
    </div>

    <div class="content-block">
        <img src='img/green.png'>
        <p>
            The red colored square marked by "1" represents the first agent on the map that moves autonomously.
            The green colored area shaded around the agent is the area of the map 
            visible to (agent's field of view)/explored by the agent in the current interval.
        </p>
    </div>

    <div class="content-block">
        <p>
            The red colored square marked by "2" represents the second agent on the map that moves autonomously.
            The orange colored area shaded around the agent is the area of the map 
            visible to (agent's field of view)/explored by the agent in the current interval.
        </p>
        <img src='img/orange.png'>
    </div>

    <div class="content-block">
        <img src='img/red.png'>
        <p>
            The light red colored area shaded on the map is the area of the map
            that has been explored by the agent in the past intervals and has been integrated by the human.
        </p>
    </div>

    <div class="content-block">
        <p>
            The yellow colored area shaded on the map is the area of the map
            that has been explored by both the agent and the human in the past intervals and has been integrated by the human.
        </p>
        <img src='img/yellow.png'>
    </div>

    <div class="content-block">
        <img src='img/victim-marker-front.png'>
        <p>
            This marker on the minimap in the trust confirmatin pop-up means that a victim has been found on the map.
        </p>
    </div>

    <div class="content-block">
        <p>
            This marker on the minimap in the trust confirmation pop-up means that a hazard has been found on the map.
        </p>
        <img src='img/hazard-marker-front.png'>
    </div>

    <div class="content-block">
        <img src='img/pop-up.png'>
        <p>
            Use the arrow keys or awsd (or hjkl if you're a vim power user) to control the human. After every 30 seconds, you will be shown the images of 
            the current state of the whole map, the human explored area, and the agent explored area. You will be prompted 
            to either integrate or discard both agents' explored regions (Agent 1 and Agent 2). If you choose to integrate, the agent explored region 
            (shaded green) will turn red. If you choose to discard this area, the green colored region will disappear and is 
            considered unexplored.
        </p>
    </div>

    {{!-- <div class="content-block">
        <p>
            The goal of the user is to explore the space along with the agents in search of the victims. As you search, you will encounter 
            victims (represented by a red circle) and hazards (represented by a yellow triangle) on the map.
        </p>
    </div> --}}
    
    <button id="begin" onclick="showConsentForm()">Begin Simulation</button>
</div>

<script type="text/javascript" src="js/landing-page.js"></script>
