<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARL STRONG UMass Lowell | Stats</title>
</head>

<style>
    html, body {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: url('img/pexels-damir-mijailovic-3695238.webp');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    
</body>
</html>