html, body {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-color: #252525;
	color: white;
	scroll-behavior: smooth;
	font-family: 'Montserrat', 'sans-serif';
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
	background: #121212;
	padding: 0 3px 3px 0;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #121212;
	-moz-box-shadow: inset 0 0 5px #121212;
	-webkit-box-shadow: inset 0 0 5px #121212;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: lightgrey;
}

.disabled {
	pointer-events: none;
}

.navRight {
	margin: 0 30px;
	padding: 10px;
	background-color: #FF9800;
	border-radius: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navRight > * {
	margin: 0 5px;
}

#background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}

video {
	top: 0;
	left: 0;
	display: block;
	margin: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

#shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	box-shadow: inset 0 0 150px 10px black;
	-webkit-box-shadow: inset 0 0 150px 10px black;
	-moz-box-shadow: inset 0 0 150px 10px black;
}

nav {
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	height: 30px;
	position: fixed;
	z-index: 10000;
	transition: 0.3s linear;
	animation: bottomFadeIn 1s linear;
}

nav.scrolled {
	background-color: white !important;
	color: #121212 !important;
	transition: 0.3s linear;
	-webkit-box-shadow: 0 0 20px black;
	-moz-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
}

nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding: 0 50px;
	margin-right: auto;
}

nav a.scrolled {
	color: #121212 !important;
}

nav .items {
	display: flex;
	align-items: center;
}

nav .items p {
	padding: 0 50px;
}

.main-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100vh;
	padding: 0 50px;
	z-index: 1000;
	scroll-behavior: smooth;
}

.main-content h1 {
	font-size: 70px;
	padding-top: 20%;
	padding-bottom: 30px;
	margin: 0;
	position: relative;
	text-align: center;
	line-height: 0.7;
	text-shadow: 0 0 10px grey;
	border-bottom: 5px solid #808080;
	color: white;
	line-height: 120%;
	animation: bottomFadeIn 1s linear;
}

@keyframes bottomFadeIn {
	0% {
		bottom: 0;
		opacity: 0;
	}

	100% {
		bottom: 0;
		opacity: 1;
	}
}

.main-content .buttonsCollection {
	display: flex;
	align-items: center;
	animation: bottomFadeIn 0.5s linear;
}

.main-content button, .main-content .buttonsCollection a, #begin {
	font-family: 'Montserrat', 'sans-serif';
	font-size: 18px;
	padding: 20px 40px;
	background-color: #808080;
	border: 0;
	border-radius: 50px;
	color: white;
	margin: 35px 0;
	transition: 0.3s;
	text-align: center;
	-webkit-box-shadow: 0 0 10px grey;
	-moz-box-shadow: 0 0 10px grey;
	box-shadow: 0 0 10px grey;
}

#begin:hover {
	background-color: white;
	color: #121212;
	cursor: pointer;
}

.main-content .buttonsCollection a:hover {
	background-color: white;
	color: #121212;
	cursor: pointer;
}

.page-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0 50px;
	z-index: 1000;
	scroll-behavior: smooth;
	text-align: center;
}

.page-content h2 {
	font-size: 70px;
}

.page-content p {
	font-size: 30px;
}

.page-content button {
	margin: 20px 0;
	font-size: 20px;
}

.main-content button:hover {
	background-color: white !important;
	color: black !important;
	-webkit-box-shadow: 0 0 10px grey;
	-moz-box-shadow: 0 0 10px grey;
	box-shadow: 0 0 10px grey;
	cursor: pointer;
}

#instructions {
	position: relative;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 18px;
	line-height: 150%;
	padding: 0 150px 100px 150px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-behavior: smooth;
}

.popup-modal-container {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	z-index: 100000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: black;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
	padding: 0 20px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: visibility 0.2s linear, opacity 0.2s linear;
}

.popup-modal {
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 7px;
	padding: 20px;
	margin: auto auto;
}

#pdf {
	width: 60vw;
	height: 70vh;
}

code {
	background-color: lightgrey;
	border-radius: 7px;
	padding: 10px 20px;
}

#consent-form {
	padding: 20px 20px 0 20px;
	height: 90%;
}

#userInputButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	padding: 20px 0;
}

button {
	font-family: 'Montserrat', 'sans-serif';
	font-size: 14px;
	margin: 0 10px;
	padding: 10px 20px;
	box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	background-color: #252525;
	color: white;
	border-radius: 5px;
	border: none;
	outline: 0;
	transition: 0.3s;
}

button:hover {
	background-color: #303030;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor: pointer;
}

h2 {
	margin: 50px 0;
}

.content-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 50px 30px;
	margin: 20px 0;
	border-radius: 7px;
	transition: 0.3s;
}

.content-block:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content-block p {
	padding: 0 50px;
}

.content-block img {
	width: 30vw;
}

.fadeIn {
	opacity: 0;
	transition: 0.5s;
}

#backToTop {
	background-color: #dddddd;
	color: black;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	display: flex;
	justify-content: center;;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	z-index: 99999;
}

#backToTop.scrolled {
	visibility: visible;
	opacity: 1;
}

#backToTop:hover {
	background-color: #ffffff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor: pointer;
}

footer {
	margin: 0;
	padding: 30px;
	background-color: #121212;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

footer h1 {
	font-size: 24px;
	padding: 50px 0 30px 0;
	border-bottom: 2px solid white;
}

footer a {
	text-decoration: none;
	color: white;
	padding: 10px;
	margin: 20px 0 50px 0;
	border-radius: 50px;
	background-color: #161b22;
	transition: 0.3s;
}

footer a:hover {
	-webkit-transform: rotate(360deg) scale(1);
	transform: rotate(360deg) scale(1);
	background-color: #6e7681;
}
