html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #252525;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'sans-serif';
    box-shadow: inset 0 0 150px 10px black;
    -webkit-box-shadow: inset 0 0 150px 10px black;
    -moz-box-shadow: inset 0 0 150px 10px black;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #121212;
    padding: 0 3px 3px 0;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #121212;
    -moz-box-shadow: inset 0 0 5px #121212;
    -webkit-box-shadow: inset 0 0 5px #121212;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}

.disabled {
    pointer-events: none;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 8%;
    position: fixed;
    z-index: 10000;
    transition: 0.3s linear;
}

nav.scrolled {
    background-color: white !important;
    color: #121212 !important;
    transition: 0.3s linear;
    -webkit-box-shadow: 0 0 20px black;
    -moz-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 0 50px;
    margin-right: auto;
}

nav a.scrolled {
    color: #121212 !important;
}

nav .items {
    display: flex;
    align-items: center;
}

nav .items p {
    padding: 0 50px;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.survey {
    width: 60%;
    background-color: white;
    color: black;
    padding: 20px 100px;
    margin: 100px 0;
    border-radius: 7px;
}

.survey h3 {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.survey .scale {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

form {
    width: 100%;
    padding-bottom: 80px;
    text-align: center;
}

form button {
    margin-top: 30px;
    width: 20%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.grid-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey {
    background-color: lightgrey;
}

button {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    background-color: white;
    border-radius: 50px;
    transition: 0.2s;
}

button:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

h2 {
    margin: 50px 0;
}

#backToTop {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 99999;
}

#backToTop.scrolled {
    visibility: visible;
    opacity: 1;
}

#backToTop:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}

footer {
    margin: 0;
    padding: 50px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    font-size: 24px;
    margin: 0;
    padding: 50px 0;
    border-bottom: 2px solid white;
}

footer h2 {
    font-size: 22px;
    margin: 0;
    padding: 50px 0;
}
